.bike-header-size {
    font-size: 35px;
}
.bike-title-size {
    font-size: 60px;
}

.bikerz-zone-light-red{
    background-color: rgba(255, 0, 0, 0.19);
}
.bike-width {
    width: 287px;
    margin-left: -12px;
}
.latest-width {
    width: 295px;
}
.latest-margin-left {
    margin-left: -17px;
}

.bg-color {
    background-color: #1d6363;
}
.fetured-margin {
    margin-top: 75px;
}
.latest-margin {
    margin-top: 100px;
}
.hero-width {
    width: 416px;
}
.frequently-width {
    width: 445px;
}
.border-width {
    width: 490px;
    padding-left: 15px;
    border: 1px solid #D5E5FB;
}
.list-none {
    display: inline-block;
    list-style: none;
}
.footer-img {
    width: 150px;
    margin-top: 0px;
}
.text-decoration {
    display: flex !important;
    gap: 10px;
    margin-left: -32px;
}
.text-decoration li a {
    text-decoration: none;
    color: white;
}
.text-decoration li {
    list-style: none;
}